<div class="modal-header">
    <h5 class="modal-title" id="foodOrderModalLabel">Order based on the table reservation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="foodOrderForm">
        <div class="mb-3">
            <label for="table_id" class="form-label">Select Table reservation if you haven't.</label>
            <select class="form-control" id="table_id" name="table_id" required>
                <option value="">Choose a table</option>
                {% for booking in bookings %}
                    <option value="{{ booking.table_id }}" data-booking-id="{{ booking.id }}">
                        Table {{ booking.table.table_number }} (Booked: {{ booking.date }})
                    </option>
                {% endfor %}
            </select>
            {% if not bookings %}
                <p class="text-success">Please select the table you reserved.</p>
            {% endif %}
            <input type="hidden" id="booking_id" name="booking_id">
        </div>
        <div class="mb-3">
            <label class="form-label">Select Meals</label>
            {% if meals %}
                {% for meal in meals %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ meal.name }}" id="meal_{{ meal.id }}" name="items">
                        <label class="form-check-label" for="meal_{{ meal.id }}">{{ meal.name }} (SH.{{ meal.price }})</label>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-danger">No meals available.</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="special_requests" class="form-label">Special Requests</label>
            <textarea class="form-control" id="special_requests" name="special_requests" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Place Order</button>
    </form>
    
</div>